@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #ececec;
    background: #222;
  }
  .cv-born a {
    color: #222;
    background: #ececec;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', Tahoma, Geneva, Verdana, sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
li {
  cursor: pointer;
}
main {
  z-index: 0;
}
.cv {
  margin-left: 360px;
  margin-top: 60px;
  margin-right: 60px;
}
.cv-text {
  width: 80%;
  margin-bottom: 20px;
}
.cv-text h1 {
  font-weight: 800;
}
.cv-text p {
  font-size: 14px;
}
.cv-born {
  width: 80%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cv-born a {
  font-size: 14px;
  width: fit-content;
  margin-right: 10px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #ececec;
  background-color: #222;
}
.desktop-content {
  display: block;
}
.mobile-content {
  display: none;
}
.desktop-cv {
  display: block;
}
.mobile-cv {
  display: none;
}
@media (max-width: 1000px) {
  .desktop-content {
    display: none;
  }
  .mobile-content {
    display: block;
  }
  .desktop-cv {
    display: none;
  }
  .mobile-cv {
    display: block;
  }

  .cv-text {
    width: 90%;
    margin-bottom: 10px;
  }
  .cv-text h1 {
    font-weight: 800;
  }
  .cv-text p {
    font-size: 14px;
  }
  .cv-born {
    width: 90%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
  }
}
